.banner
{
    background-image: linear-gradient(rgba(115, 115, 115, 0.5) 10%, rgba(0, 0, 0, 0.8) 100%),url(mountain.jpg);
    background-size:cover;
    height:500px;
    background-attachment: fixed;
}

.banner h1{
    padding-top:150px;
    text-align:center;
    color:white;
}
.banner h4{
    text-align:center;
    color:white;
    height:50%;
}

.inside
{
    padding-top:100px;
}

.content img{
    margin-top:200px;
    width:100px;
    margin-bottom:50px;
    filter: brightness(200%) ;
}
.content-text
{
    margin-bottom:200px;
}